
- if @announcement
  #announcement
    .an_title= @announcement.title
    - case @announcement.content_format
    - when 'html'
      .an_content!= @announcement.content
    - when 'markdown'
      :markdown
        #{@announcement.content}
    - when 'textile'
      :textile
        #{@announcement.content}
    -else
      %pre.an_content<~@announcement.content
    .an_foots
      .an_foot=@announcement.inscribe
      .an_foot=@announcement.inscribe_date.date_zh if @announcement.inscribe_date
