
pre {
  padding: 8px;
  font-size: 12px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

#err_msg {
  /*font-weight: bold;*/
  color: red; }

.field_with_errors {
  /*border: 1px solid #cc0000;*/
  display: inline;
  textarea {border: 1px solid red}
  input[type=text] {border: 1px solid red}}

#error_explanation {
  width: 450px;
  border: 1px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

