- if model.errors.any?
  #error_explanation
    %h2
      = pluralize(model.errors.count, 'error') + ' prohibited this ' + model.class.name.demodulize.underscore + ' from being saved:'
    %ul
      - model.errors.full_messages.each do |msg|
        %li= msg